{"swagger":"2.0","info":{"description":"Creator by ZhuxinQin","version":"1.0.0","title":"\u91d1\u90fdAPI\u63a5\u53e3\u7ba1\u7406","termsOfService":""},"host":"www.lunhui.com:80","basePath":"","tags":[{"name":"config","description":"\u8bfb\u53d6\u914d\u7f6e\r"},{"name":"deposit","description":"\u4f1a\u5458\u5b58\u6b3e\r"},{"name":"lotteryorder","description":"\u8ba2\u5355\r"},{"name":"member","description":"\u4f1a\u5458\u4e2d\u5fc3"},{"name":"odds","description":"\u76d8\u53e3\r"},{"name":"withdrawal","description":"\u4f1a\u5458\u53d6\u6b3e\r"}],"schemes":["http"],"paths":{"index\r":[],"\/api\/config\/index\r":{"get":{"tags":["config"],"summary":"\u83b7\u5f97\u914d\u7f6e\u4fe1\u606f\r","description":"","operationId":"index\r","produces":["application\/json"],"parameters":[]}},"setDeposit\r":[],"\/api\/deposit\/setDeposit\r":{"post":{"tags":["deposit"],"summary":"\u5b58\u6b3e\r","description":"","operationId":"setDeposit\r","produces":["application\/json"],"parameters":[{"name":"uid","in":"formData","required":true,"description":"\u7528\u6237\u540did\r\n     ","type":"integer"},{"name":"money","in":"formData","required":true,"description":"\u5b58\u6b3e\u91d1\u989d\r\n     ","type":"integer"},{"name":"type","in":"formData","required":true,"description":"\u652f\u4ed8\u65b9\u5f0f\r\n     ","type":"string"}]}},"getDeposit\r":[],"\/api\/deposit\/getDeposit\r":{"get":{"tags":["deposit"],"summary":"\u5b58\u6b3e\u5386\u53f2\u8bb0\u5f55\r","description":"","operationId":"getDeposit\r","produces":["application\/json"],"parameters":[{"name":"page","in":"query","required":true,"description":"\u9875\u6570\r\n     ","type":"integer"}]}},"getOrder\r":[],"\/api\/lotteryorder\/getOrder\r":{"post":{"tags":["lotteryorder"],"summary":"\u83b7\u53d6\u8ba2\u5355\r","description":"","operationId":"getOrder\r","produces":["application\/json"],"parameters":[{"name":"type","in":"formData","required":true,"description":"\u5f69\u79cd\u7c7b\u578b\r\n     ","type":"integer"},{"name":"date","in":"formData","required":true,"description":"\u65e5\u671f\r\n     ","type":"string"},{"name":"page","in":"formData","required":true,"description":"\u5206\u9875\r\n     ","type":"integer"}]}},"login":[],"\/api\/member\/login":{"post":{"tags":["member"],"summary":"\u767b\u9646","description":"","operationId":"login","produces":["application\/json"],"parameters":[{"name":"username","in":"formData","required":true,"description":"\u7528\u6237\u540d\n\t ","type":"string"},{"name":"password","in":"formData","required":true,"description":"\u5bc6\u7801\n\t ","type":"string"}]}},"info":[],"\/api\/member\/info":{"post":{"tags":["member"],"summary":"\u83b7\u53d6\u4f59\u989d","description":"","operationId":"info","produces":["application\/json"],"parameters":[]}},"register":[],"\/api\/member\/register":{"post":{"tags":["member"],"summary":"\u6ce8\u518c","description":"","operationId":"register","produces":["application\/json"],"parameters":[{"name":"username","in":"formData","required":true,"description":"\u7528\u6237\u540d\n\t ","type":"string"},{"name":"password","in":"formData","required":true,"description":"\u5bc6\u7801\n     ","type":"string"},{"name":"name","in":"formData","required":true,"description":"\u59d3\u540d\n     ","type":"string"},{"name":"qq","in":"formData","required":true,"description":"qq\n     ","type":"string"},{"name":"id","in":"formData","required":true,"description":"id\n\t ","type":"integer"}]}},"getUserInfo":[],"\/api\/member\/getUserInfo":{"get":{"tags":["member"],"summary":"\u83b7\u53d6\u7528\u6237\u4fe1\u606f","description":"","operationId":"getUserInfo","produces":["application\/json"],"parameters":[{"name":"info","in":"query","required":true,"description":"\u7528\u6237\u540d|\u59d3\u540d|QQ\n\t ","type":"string"}]}},"editqq":[],"\/api\/member\/editqq":{"post":{"tags":["member"],"summary":"\u4fee\u6539QQ\u53f7","description":"","operationId":"editqq","produces":["application\/json"],"parameters":[{"name":"qq","in":"formData","required":true,"description":"qq\n\t ","type":"integer"}]}},"editPwd":[],"\/api\/member\/editPwd":{"post":{"tags":["member"],"summary":"\u4fee\u6539\u5bc6\u7801","description":"","operationId":"editPwd","produces":["application\/json"],"parameters":[{"name":"oldpwd","in":"formData","required":true,"description":"\u65e7\u5bc6\u7801\n\t ","type":"string"},{"name":"newpwd","in":"formData","required":true,"description":"\u65b0\u5bc6\u7801\n\t ","type":"string"}]}},"editCard":[],"\/api\/member\/editCard":{"post":{"tags":["member"],"summary":"\u7ed1\u5b9a\u94f6\u884c\u5361","description":"","operationId":"editCard","produces":["application\/json"],"parameters":[{"name":"card","in":"formData","required":true,"description":"\u94f6\u884c\u5361\n     ","type":"integer"}]}},"editnWithdrawalPwd":[],"\/api\/member\/editnWithdrawalPwd":{"post":{"tags":["member"],"summary":"\u4fee\u6539\u652f\u4ed8\u5bc6\u7801","description":"","operationId":"editnWithdrawalPwd","produces":["application\/json"],"parameters":[{"name":"oldpwd","in":"formData","required":true,"description":"\u65e7\u652f\u4ed8\u5bc6\u7801\n     ","type":"integer"},{"name":"newpwd","in":"formData","required":true,"description":"\u65b0\u652f\u4ed8\u5bc6\u7801\n     ","type":"integer"}]}},"loginout":[],"\/api\/member\/loginout":{"get":{"tags":["member"],"summary":"\u9000\u51fa\u767b\u5f55","description":"","operationId":"loginout","produces":["application\/json"],"parameters":[]}},"\/api\/odds\/index\r":{"get":{"tags":["odds"],"summary":"\u83b7\u5f97\u8d54\u7387\r","description":"","operationId":"index\r","produces":["application\/json"],"parameters":[{"name":"lotteryid","in":"query","required":true,"description":"\u5f69\u7968ID\r\n     ","type":"string"}]}},"getName\r":[],"\/api\/odds\/getName\r":{"post":{"tags":["odds"],"summary":"\u83b7\u5f97\u5f69\u79cd\u540d\u79f0\r","description":"","operationId":"getName\r","produces":["application\/json"],"parameters":[{"name":"lotteryid","in":"formData","required":true,"description":"\u5f69\u7968ID\r\n     ","type":"string"}]}},"gamename\r":[],"\/api\/odds\/gamename\r":{"post":{"tags":["odds"],"summary":"\u83b7\u5f97\r","description":"","operationId":"gamename\r","produces":["application\/json"],"parameters":[{"name":"gamename","in":"formData","required":true,"description":"\u5f69\u7968ID\r\n     ","type":"string"}]}},"\/api\/withdrawal\/index\r":{"post":{"tags":["withdrawal"],"summary":"\u53d6\u6b3e\r","description":"","operationId":"index\r","produces":["application\/json"],"parameters":[{"name":"money","in":"formData","required":true,"description":"\u53d6\u6b3e\u91d1\u989d\r\n     ","type":"integer"},{"name":"password","in":"formData","required":true,"description":"\u53d6\u6b3e\u5bc6\u7801\r\n     ","type":"string"}]}},"getWithdrawal\r":[],"\/api\/withdrawal\/getWithdrawal\r":{"get":{"tags":["withdrawal"],"summary":"\u53d6\u6b3e\u5386\u53f2\u8bb0\u5f55\r","description":"","operationId":"getWithdrawal\r","produces":["application\/json"],"parameters":[{"name":"page","in":"query","required":true,"description":"\u9875\u6570\r\n     ","type":"integer"}]}}},"securityDefinitions":[],"definitions":[]}